aiofiles==23.2.1
aiosqlite==0.22.0
anyio==4.4.0
fastapi==0.111.0
google-api-core==2.19.0
google-api-python-client==2.130.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
greenlet==3.0.3
h11==0.14.0
httplib2==0.22.0
pydantic==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
requests==2.32.2
requests-oauthlib==2.0.0
SQLAlchemy==2.0.30
starlette==0.37.2
uvicorn==0.29.0